# Dependencies
node_modules/

# Parcel build output
dist/
.parcel-cache/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/


claude
CLAUDE.MD
